* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    height: 100vh;
    display: flex;
}
.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.timer {
    font-size: 70px;
    border: 5px solid #333;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: rgb(238, 236, 236);
}
.second-container{
    position: relative;
}
.milliseconds{
    font-size: 20px;
    position: absolute;
    bottom: -10px;
    right: -10px;
}
.bottomPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btns {
    /* width: 300px; */
    height: 100px;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.btns.on{
    display: flex;
}
.btns-setting.off{
    display: none;
}

.btns button {
    width: 150px;
    height: 70px;
    border: 5px solid #333;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

.btns .toggle-btn {
    transition: all 0.3s ease;
    background: rgb(56, 109, 207);
    margin-right: 50px;
}
.btns .toggle-btn.on {
    background-color: #26d920;
}
.btns .clear-btn{
    transition: all 0.3s ease;
    background-color: rgb(212, 44, 44);
}
.btns-setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    margin: 20px 0;
}
.btns-number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.number-btn{
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #26d920;
    outline: none;
    border: 4px solid #333;
    border-radius: 10px;
    cursor: pointer;
}
.btns-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btns-control .setting,
.btns-control .clear{
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
    width: 140px;
    outline: none;
    border: 4px solid #333;
    border-radius: 10px;
    cursor: pointer;
}
.setting{
    background-color: #26d920;
}
.clear{
    background-color: #ccc;
    margin-top: 10px;
}